.container.show-conatiner{
	margin-top: 7em;
}

.navbar-light .navbar-nav .nav-link:hover{ 
	color:blue;
}

.caption-full{
	padding:10px;
}

.card-body{
	margin-top:20px;
}

.img-thumbnail-index {
    width: auto;
    height: 100px;
	padding:0px;
}

.img-thumbnail{
	padding: 0px;
}
.img-fluid {
	width: 100%;
	padding: 0px;
}
#delete-form {
	display: inline;
}
.alert{
	margin-top: 25px;
}


	